@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

a,
.discrod {
  text-decoration: none;
  color: #2b5f6c;
}

ul li {
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.5), 0 15px 10px rgba(0,0,0,0.25);
  filter: none;
}

.content {
  display: flex;
}

.profile {
  width: 30%;
  background-color: #00aec3;
}

.photo {
  width: 90%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  transition: filter 1s ease-in-out;
}

.photo:hover {
  filter: grayscale(100%);
}

figure {
  padding-top: 30px;
  background-color: #375a64;
}

.info {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
}

.info__name {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #f7f7f7;
}

.info__role {
  font-size: 15px;
  font-weight: 700;
  color: #0aa3af;
}

.contacts {
  margin-top: 30px;
}

.contacts__tittle {
  height: 30px;
  font-size: 18px;
  background-color: #375a64;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #f7f7f7;
}

.contacts__content {
  margin: 10px 10px 0;
  font-size: 15px;
  color: #f7f7f7;
}

.contacts__content li {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  width: 70%;
  background-color: #fefefe;
}

.section {
  margin: 15px 10px;
  padding-bottom: 15px;
  border-bottom: #bfc3c8 2px solid;
}

.section:last-child {
  border-bottom: none;
}

.section > span,
p {
  margin: 0 10px;
  color: #929292;
}

.section__tittle {
  margin-left: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #0fa8b7;
}

.skills li {
  width: 250px;
  margin: 10px 0 0 10px;
  display: block;
  background: #375a64;
  font-weight: 900;
  color: #2b5f6c;
}

.progress {
  padding-left: 5px;
  background-color: #00aec3;
}

.progress_half {
  width: 60%;
}

.progress_high {
  width: 80%;
}

.progress_full {
  width: 100%;
}

.university {
  display: flex;
  align-items: center;
}

.date {
  width: 100px;
  text-align: center;
  color: #4c5c5f;
  font-weight: 900;
}

.description {
  border-left: #bfc3c8 2px solid;
  padding-left: 5px;
  color: #4c5c5f;
}

.description span {
  color: #929292;
}

.code {
  margin: 10px 10px 0 10px;
  display: block;
  border: 1px solid;
  border-color: #27373b;
  border-radius: 3px;
  background-color: #516f77;
  font-size: 13px;
  font-weight: 900;
}

pre {
  white-space: pre-wrap;
  margin: 5px;
  color: #e0e0e0;
}

.code > span {
  display: block;
  width: 100%;
  padding: 5px;
  color: #0fd2e0;
  border-radius: 2px;
  background-color: #3d5b63;
}

.footer {
  height: 40px;
  background-color: #375a64;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  height: 30px;
  padding-top: 5px;
}
